body {
  background-image: image-url("random_grey_variations.png");
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

h2, .field {
  background-color: white;
  color: black;
  border: 3px solid black;
  margin-right: 675px;
  padding: 5px;
}

h2 {
  text-align: center;
}

.link2 {
  background-color: white;
  border: white;
  text-shadow: none;
}


h3 {
  margin-right: 950px;
  background-color: white;
  color: black;
  border: 3px solid black;
  padding: 5px;
  
}

a {
    border-radius: 2px;
    border: solid 1px #20538D;
    background: #F3F3F3;
    color: black;
    padding: 2px 12px;
  }
  
.link3 {
  background-color: white;
  color: blue;
  text-shadow: none;
  border: none;
  border-shadow: none;
  padding: 3px;
}

p {
  margin-right: 950px;
  background-color: white;
  color: black;
  border: 3px solid black;
  padding: 5px;
  text-align: center;
  
}


.link_form {
  background-color: white;
  margin-left: 325px;
  margin-right: 325px;
  text-align: center;
  border: 4px solid black;
  color: black;
  padding: 3px;
}

.btn-g {
  background-color: black;
}

.dropdown-menu {
  color: white;
  background-color: white;
}

.navbar, .navbar-brand, .dropdown-toggle {
  background-color: black;
  border: black;
}

table, th, td {
    border: 3px solid black;
    margin: auto;
    padding: 4px;

}

.button_to, .actions {
  margin-top: 10px;
  margin-bottom: 10px;
}

.create_btn {
  margin-top: 5px;
  margin-left: 310px;
  margin-right: 282px;
}

h1, h4 {
  background-color: white;
  border: 3px solid black;
  margin-right: 350px;
  margin-left: 350px;
  text-align: center;
}

th {
    text-align: center;
    background-color: white;
}

td {
  background-color: white;
}
